.customContainer {
  background: #f2f2f2;
  width: 100%;
  height: 929px;
  border: solid;
}

.headerContent {
  display: flex;
  height: 5rem;
  padding: 30px;
  background: #0099cc;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.titleName {
  font-size: 25px;
  color: gold;
}

.addUser button {
  background: #0099cc;
  color: #fff;
}

.bodyContent {
  display: flex;
  height: 40rem;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.contentBox,
.contentBoxUser {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.contentBoxUser {
  padding: 10px;
}

.userBox {
  margin: 50px;
  height: 500px;
  width: 100%;
  border-radius: 15px;
  overflow-y: auto;
  padding: 10px;
}

.userData {
  background: white;
  height: 100px;
  display: flex;
  flex-direction: row;
  border: solid;
  border-radius: 1px;
}

.userLeft,
.userRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
}

.label {
  font-size: 25px;
  font-family: initial;
}

.zero,
.User {
  font-size: 150px;
  color: wheat;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
